<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Lista dos Alunos</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>
    <body>
        <a href="./aluno"><input type="button" value="Voltar"></a>
        <form method="post">
            <h1>Inserir Novo Aluno</h1>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome">

            <label for="escola">escola:</label>
            <select id="escola" name="escola">
                    <% for( item of colegios) { %>
                        <option><%= item.nome%></option>
                    <% } %>

            </select>

            <label for="turno">turno:</label>
            <select id="turno" name="turno">
                <% let Turnos = ["Manhã","Tarde"]%>
                <% for( item of Turnos) { %>
                    <option><%=item%></option>
                <% } %>
            </select>
			
            <label for="endereco">endereco:</label>
            <input type="text" id="endereco" name="endereco">
			
            <label for="valor">valor:</label>
            <input type="text" id="valor" name="valor">

            <input type="submit" id="btnEnviar" name="Enviar">
        </form> 
    </body>
</html>