<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Alterar Responsavel</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>
    <body>
        <a href="./responsavel"><input type="button" value="Voltar"></a>
        <form method="post">
            <h1>Alterar Responsavel</h1>
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" readonly value="<%= Responsavel._id %>">

            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" value="<%= Responsavel.nome %>">
			
            <label for="contato">contato:</label>
            <input type="text" id="contato" name="contato" value="<%= Responsavel.contato %>">

            <input type="submit" id="btnAlterar" name="Alterar" value="Alterar">
        </form> 
    </body>
</html>

