<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div class="container">
        <h1>Bem Vindo!</h1>
        <div class="btnsCadastros">
            <a href="./aluno"><input type="button" value="Alunos" class="btnCadastro"></a>
            <a href="./responsavel"><input type="button" value="Responsaveis" class="btnCadastro" ></a>
        </div>
        <div class="btnRotas">
            <a href="./iniciotransporte"><input type="button" value="Começar Rota" class="btnRota"></a>
        </div>
        <div class="btnMensalidade">
            <a href="./mensalidade"><input type="button" value="Controle de Mensalidades" class="btnMensalidade"></a>
        </div>
    </div>
</body>
</html>