<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="./css/transporte.css">
</head>
<body>
    <a href="./"><input type="button" value="Voltar"></a>
    <div class="container">
        <h1>Bem Vindo!</h1>
        <div class="btnsTurnos">
            <a href="./manhaTransporte"><input type="button" value="Manhã" class="btnManha"></a>
            <a href="./tardeTransporte"><input type="button" value="Tarde" class="btnTarde" ></a>
        </div>
    </div>
</body>
</html>