<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Rota - Alunos da Tarde</title>
	<link rel="stylesheet" href="./css/aluno.css">
</head>
<body>
	<a href="./"><input type="button" value="Voltar"></a>
	<div class="divTabela">
		<h1>Lista dos Alunos Presentes</h1>
		<table class="tabelaAlunos">
			<thead>
				<tr>
					<th>Nome</th>
                    <th>Escola</th>
					<th>Endereço</th>
				</tr>
			</thead>
			<tbody>
				<% for(item of alunosPresentesOrdenados) { %>
				<tr>
					<td><%= item.nome %></td>
                    <td><%= item.escola %></td>
					<td><%= item.endereco %></td>
				</tr>
				<% } %>	
		</table>
	</div>
</body>
</html>